# Ignore Gradle project-specific cache directory
.gradle
.godot

# Ignore Gradle build output directory
build
builds/

# Ignore Intellij directory
.idea

# Ignore embedded jre
jre
jre-arm64

# Graal Related Compilation files
graal_isolate.h
graal_isolate_dynamic.h
reports/